<?xml version="1.0" ?>
<config>
    <modules>
        <Gw_Student>
            <version>0.0.6</version>
        </Gw_Student>
    </modules>
    <frontend>
        <layout>
            <updates>
                <gwstudent>
                    <file>gw_student.xml</file>
                </gwstudent>
            </updates>
        </layout>
        <routers>
            <gwstudent>
                <use>standard</use>
                <args>
                    <module>Gw_Student</module>
                    <frontName>student</frontName>
                </args>
            </gwstudent>
        </routers>
    </frontend>
    <admin>
        <routers>
        <gwstudent_admin>
            <use>admin</use>
            <args>
                <module>Gw_Student</module>
                <frontName>gwstudent_admin</frontName>
            </args>
        </gwstudent_admin>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <gwstudent module="gwstudent">
                <title>Students</title>
                <sort_order>77</sort_order>
                <children>
                    <gw_student translate ="title" module="gwstudent">
                    <title>Students</title>
                    <sort_order>10</sort_order>
                    <action>gwstudent_admin/adminhtml_student</action>
                    </gw_student>
                    <gwstudent_category translate ="title" module="gwstudent">
                        <title>Categories</title>
                        <sort_order>30</sort_order>
                        <action>gwstudent_admin/adminhtml_category</action>
                    </gwstudent_category>
                </children>
            </gwstudent>
        </menu>
    </adminhtml>
    <global>
        <events>
        <controller_front_init_routers>
        <observers>
            <gwstudent>
                <class>Gw_Student_Controller_Router</class>
                <method>initControllerRouters</method>
            </gwstudent>
        </observers>
        </controller_front_init_routers>
        </events>
        <helpers>
            <gwstudent>
                <class>Gw_Student_Helper</class>
            </gwstudent>
        </helpers>
        <models>
            <gwstudent>
                <class>Gw_Student_Model</class>
                <resourceModel>gwstudent_resource</resourceModel>
            </gwstudent>
            <gwstudent_resource>
                <class>Gw_Student_Model_Resource</class>
                <entities>
                    <table_categories>
                        <table>gw_student_categories</table>
                    </table_categories>
                    <table_student>
                        <table>student</table>
                    </table_student>
                </entities>
            </gwstudent_resource>
        </models>
        <resources>
            <gwstudent_setup>
                <setup>
                    <module>Gw_Student</module>
                </setup>
            </gwstudent_setup>
        </resources>

        <blocks>
            <gwstudent>
                <class>Gw_Student_Block</class>
            </gwstudent>
        </blocks>

    </global>
</config>