<?xml version="1.0"?>
<config>
    <modules>
        <Gwd_Extension>
            <version>0.0.2</version>
        </Gwd_Extension>
    </modules>
    <frontend>
        <routers>
            <Gwd_Extension>
                <use>standard</use>
                <args>
                    <module>Gwd_Extension</module>
                    <frontName>extension</frontName>
                </args>
            </Gwd_Extension>
        </routers>
        <layout>
            <updates>
                <gwdExtension>
                    <file>gwdextension.xml</file>
                </gwdExtension>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <gwdextension>
                <class>Gwd_Extension_Model</class>
                <resourceModel>gwdextension_resource</resourceModel>
            </gwdextension>
            <gwdextension_resource>
                <class>Gwd_Extension_Resource</class>
                <entities>
                    <table_extension>
                        <table>gwd_extension_entities</table>
                    </table_extension>
                </entities>
            </gwdextension_resource>
        </models>
        <helpers>
            <Gwd_Extension>
                <class>Gwd_Extension_Helper</class>
            </Gwd_Extension>
        </helpers>
        <blocks>
            <Gwd_Extension>
                <class>Gwd_Extension_Block</class>
            </Gwd_Extension>
        </blocks>
        <resources>
            <Gwd_Extension_setup>
                <setup>
                    <module>Gwd_Extension</module>
                </setup>
            </Gwd_Extension_setup>
        </resources>
    </global>
</config>